<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
  body{
    background-color: #1D1D1D;
  }
</style>

    <div class="rc-header">
      <%= link_to "SocioGrams",newsfeed_index_path%>
    </div>

<div id="rc">
  <div id="rc-left"></div>
  <div id="rc-mid">
    <p class="page-topic">Resend confirmation instructions</p>

    <div id="rc-form-section">


<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
  </div>
</div>