<% if user_signed_in? %>
    <headerbar >
       <header>
          <nav class="left-nav">

             <ul>
                <li>
                   <a href="/"><i class="fa fa-home" aria-hidden="true" style="-webkit-text-stroke-width: 1px;
                       -webkit-text-stroke-color: grey;color: white"></i><span> Home </span></a>
                </li>
                <li>
                   <%= link_to confessions_path do%>
                       <i class="fa fa-heart" aria-hidden="true" style="-webkit-text-stroke-width: 1px;
                           -webkit-text-stroke-color: grey;color: white"></i> Confessions <% end %>
                </li>
                <li>
                   <%= link_to "" do %>
                       <i class="fa fa-smile-o" aria-hidden="true"></i>Memes <%end%>
                </li>
             </ul>

          </nav>


          <div class="logo">
             <%= link_to "SocioGrams",newsfeed_index_path,:class=>"animated rollIn"%>
          </div>
          <nav class="right-nav">
             <ul>
                <li>



                   <%= form_tag search_user_path, :method => 'get' do %>
                                <input type="text" class=" form-control typeahead" id="article_search" name="query" placeholder="Search for your college buddies">
                                <button type="submit" class="">
                                   <i class="fa fa-search"></i>
                                </button>

                   <% end %>
                </li>
                <li>
                   <%= link_to search_user_path do %>
                       <i class="fa fa-users" aria-hidden="true" style="-webkit-text-stroke-width: 1px;
                           -webkit-text-stroke-color: grey;color: white"></i>
                   <%end%>
                </li>
                <li>
                   <%= link_to notifications_show_path do%>
                       <i class="fa fa-bell" aria-hidden="true" style="-webkit-text-stroke-width: 1px;
                           -webkit-text-stroke-color: grey;color: white"></i>
                   <% end %>
                </li>
                <li>
                   <%= link_to newsfeed_friendrequests_path do%>
                       <i class="fa fa-arrow-down" aria-hidden="true" style="-webkit-text-stroke-width: 1px;
                           -webkit-text-stroke-color: grey;color: white"></i>
                   <% end %>
                </li>




             </ul>

             <div class="" style="padding-left: 10px" >
                <div class="ui dropdown pointing ">
                   <%= current_user.name.capitalize %>
                   <i class="dropdown icon" style="margin-left: 0"></i>
                   <div class="menu">
                      <div class="item"> <%=link_to "Edit Profile",edit_user_registration_path%></div>
                      <div class="item"><%= link_to "Sign Out",destroy_user_session_path,method: :delete %></div>
                   </div>
                </div>

             </div>






          </nav>




       </header>
    </headerbar>
<% end %>
