<% if user_signed_in? %>
    <headerbar >
       <header>
          <div class="logo">
           <%= link_to "",newsfeed_index_path,:class=>"animated rollIn"%>
          </div>
          <nav class="left-nav">

             <ul>
                <li>
                   <a href="/"><i class="fa fa-home" aria-hidden="true" style="-webkit-text-stroke-width: 1px;
                       -webkit-text-stroke-color: #7c2d75;color: white"></i><span>Home</span></a>
                </li>
                <li>
                   <%= link_to confessions_path do%>
                       <i class="fa fa-heart" aria-hidden="true" style="-webkit-text-stroke-width: 1px;
                           -webkit-text-stroke-color: #7c2d75;color: white"></i><span>Confessions</span><% end %>
                </li>
                <li>
                   <%= link_to memes_path do %>
                       <i class="fa fa-smile-o" aria-hidden="true "></i><span>Memes</span><%end%>
                </li>
             </ul>

          </nav>



          <nav class="right-nav">
             <ul>
                <li>
                   <%= form_tag search_users_path, :method => 'get' do %>
                       <div class="ui icon input"  style="">
                          <input type="text" name="query" class="typeahead" style="width: 220px;border-radius:20px" placeholder="Search">
                          <button class="ui button" style="background:#7e2444;color:white;display: none">
                          </button>
                       </div>
                   <% end %>
                </li>
                <li>
                   <%= link_to search_users_path do %>
                       <i class="fa fa-users" aria-hidden="true" style="-webkit-text-stroke-width: 1px;
                           -webkit-text-stroke-color: grey;color: white"></i>
                   <%end%>
                </li>
                <li>
                   <%= link_to notifications_show_path do%>
                       <i class="fa fa-bell" aria-hidden="true" style="-webkit-text-stroke-width: 1px;
                           -webkit-text-stroke-color: grey;color: white"></i>
                       <%= current_user.new_notifications if current_user.new_notifications > 0 %>
                   <% end %>
                </li>
                <li>
                   <%= link_to requests_path do%>
                       <i class="fa fa-arrow-down" aria-hidden="true" style="-webkit-text-stroke-width: 1px;
                           -webkit-text-stroke-color: grey;color: white"></i>
                   <% end %>
                </li>




             </ul>

             <div class="" style="padding-left: 10px" >
                <div class="ui dropdown pointing top right ">
                   <%= image_tag current_user.avatar.url(:medium),:class =>"size-32" %>
                   <div class="menu">

                      <div class="item my_link">
                         <%= render 'profile/profile_link' ,user: current_user %>
                      </div>
                      <hr style="opacity: 0.3">
                      <div class="item my_link">
                         <%= link_to "Current: "+current_user.current_mode+" community", mode_select_path %>
                      </div>

                      <div class="item my_link">
                        <%= link_to "Switch Community" , mode_select_path %>
                      </div>
                      <hr style="opacity: 0.3">
                      <div class="item my_link">
                         <%=link_to "Edit Profile",edit_user_registration_path%>
                      </div>
                      <hr style="opacity: 0.3">
                      <div class="item my_link">
                         <%= link_to "Sign Out",destroy_user_session_path,method: :delete %>
                      </div>
                   </div>
                </div>

             </div>


          </nav>
       </header>
    </headerbar>
<% end %>
