<div class="newsfeed">

  <% user=User.find_by_id(post.user_id) %>
  <% if post.anonymous %>
      <h3>Anonymous</h3>
  <% else %>
      <div class="user-detail">
        <%= image_tag user.avatar.url(:medium),:class =>"profile_image" %>
        <%= link_to user.try(:name), url_for(controller:'newsfeed',action: 'profile',method: "get",user_id:user.id)%><br>
      </div>

  <% end %>

  <%= (post.created_at + (60*330)).strftime(" %B %d,%Y")%>
  <%= (post.created_at + (60*330)).strftime("at %I:%M%p") %><br>



  <div class="post-box">
    <p><%= content_with_emoji(post.content) %></p>


    <% if post.avatar.file? %>

        <%= image_tag post.avatar.url(:medium), :class => "style_image"  %>

    <% end %>






    <div style="border-top: 1px solid grey;" >
      <%= link_to "<i class='fa fa-heart'></i>".html_safe, url_for(controller: 'likes', action: 'toggle_like', post_id: post.id, type:"post"), method: :post,id: "like_#{post.id}" ,remote: true ,:class => "likebutton" %>



      <span id="count_like_<%=post.id%>"><%=post.likes.count %></span>

      <%= link_to post.dislike_string(current_user.id), url_for(controller: 'dislikes', action: 'toggle_dislike', post_id: post.id), method: :post,id: "dislike_#{post.id}" ,remote: true %>
      <span id="count_dislike_<%=post.id%>"><%=post.dislikes.count %></span>
    </div>


    <%= form_for @comment,remote:true do |form| %>
        <%= form.text_field :content %>
        <%= hidden_field_tag :post_id, post.id %>
        <div class="actions">
          <%= form.submit %>
        </div>

    <% end %>

    <h3>Comments</h3>
    <div id="comments_<%=post.id%>">

      <% Comment.where(post_id: post.id).each do |comment| %>


          <%= render 'comment', comment: comment %>

          <br>
      <% end %>

    </div>

  </div>


</div>
