  <h3>Post</h3>
  <% user=User.find_by_id(post.user_id) %>
   <%= user.email %> <br>
  <%= post.content %>
    
  <br>

  <%= link_to post.like_string(current_user.id), url_for(controller: 'likes', action: 'toggle_like', post_id: post.id), method: :post,id: "like_#{post.id}" ,remote: true %>
    <p id="count_like_<%=post.id%>"><%=post.likes.count %><p>

  <%= link_to post.dislike_string(current_user.id), url_for(controller: 'dislikes', action: 'toggle_dislike', post_id: post.id), method: :post,id: "dislike_#{post.id}" ,remote: true %>
<p id="count_dislike_<%=post.id%>"><%=post.dislikes.count %></p>
<br>

 <%= form_for @comment,remote:true do |form| %>
        <%= form.text_area :content %>
        <%= hidden_field_tag :post_id, post.id %>
  <div class="actions">
        <%= form.submit %>
 </div>

  <% end %>

<h3>Comments</h3>
  <div id="comments_<%=post.id%>">
    
    <% Comment.where(post_id: post.id).each do |comment| %>
      
      
      <%= render 'comment', comment: comment %>
    
<br>
    <% end %>
  
</div>