  <div class="newsfeed">



  <% user=User.find_by_id(post.user_id) %>
  <% if post.anonymous %>
  <h3>Anonymous</h3>
  <% else %>
   <%= image_tag(user.avatar.url(:thumb)) %></li><%= user.try(:name) %> <br>
  
  <% end %>
  <%= content_with_emoji(post.content) %>
  <br>
  <div style="border-top: 1px solid grey;;">
  <%= link_to post.like_string(current_user.id), url_for(controller: 'likes', action: 'toggle_like', post_id: post.id), method: :post,id: "like_#{post.id}" ,remote: true %>
    <span id="count_like_<%=post.id%>"><%=post.likes.count %></span>

  <%= link_to post.dislike_string(current_user.id), url_for(controller: 'dislikes', action: 'toggle_dislike', post_id: post.id), method: :post,id: "dislike_#{post.id}" ,remote: true %>
<span id="count_dislike_<%=post.id%>"><%=post.dislikes.count %></span>
</div>


 <%= form_for @comment,remote:true do |form| %>
        <%= form.text_field :content %>
        <%= hidden_field_tag :post_id, post.id %>
  <div class="actions">
        <%= form.submit %>
 </div>

  <% end %>

<h3>Comments</h3>
  <div id="comments_<%=post.id%>">

    <% Comment.where(post_id: post.id).each do |comment| %>


      <%= render 'comment', comment: comment %>

<br>
    <% end %>

</div>




</div>
