<div class="ui card ">
   <div class="image">
      <%= image_tag current_user.avatar.url(:medium),:class =>"h-pro-image",:alt=>""%>
   </div>
   <div class="content">
      <a class="header">
         <%= render 'profile/profile_link' ,user: current_user %><br><br>
         <%=link_to "Edit Profile",edit_user_registration_path%>
      </a>
      <div class="meta">
         <span class="date">Joined on <%= current_user.created_at.strftime("%d %b ") %></span>
      </div>
      <div class="description">
         <%= current_user.about %>
      </div>
   </div>
   <div class="extra content" data-turbolinks="false">
      <a>


         <%if  current_user.avatar? %>
             <%= link_to "Doesn't look great, Crop picture",profile_edit_picture_path%>

         <% end %>
      </a>
   </div>
</div>