
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Confessions</title>
</head>


<main-page>

   <aside>
      <div class="sidepanel">
         <%= render 'sidepanel' %>
      </div>
   </aside>


       <section>
          <% if current_user.current_mode == 'open'%>
              <br>
              <div class="item" style="text-align: center;"> <%=link_to 'Switch Community', mode_select_path %></div>
              <br>

              <%= render 'mode/sign_out_section' %>
          <% else %>
          <div class="createPost">
             <%= image_tag current_user.avatar.url(:medium),:class =>"createpost_image" ,:alt=>""%>
             <div class="input-post">
                <%= form_for @post,remote: true do |form| %>
                    <div class="">
                       <div class="ui form">
                          <div class="field">
                             <textarea rows="2" name="post[content]" id="post_content" placeholder="Hey, Tell us a secret"></textarea>
                          </div>
                       </div>
                    </div>

                    <div class="postbox-toolbar">

                       <div class="anonymous">
                          <h3 >Anonymous
                             <%= form.check_box :anonymous %>
                             <%= form.hidden_field :flavour , value: "confession"  %>

                          </h3>

                       </div>
                       <span id="characters"></span>

                       <%= form.submit 'Post', :class => 'postbutton' , id: 'create_post_submit'  %>
                    </div>

                <% end %>
             </div>
          </div>

          <div id="posts">

             <%= render @posts %>

             <%= will_paginate @posts %>
          </div>
          <br>

       </section>
   <% end %>
   <ads>
      <div class="ui half page test ad" data-text="Ads"></div>
   </ads>

   <chatbox>
   </chatbox>

</main-page>

<script>


    //image preview before upload
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
            $(".dup-pic").css("display","block");
        }
    }

    $("#imgInp").change(function(){
        readURL(this);
    });
    //End-image preview before upload

    $(".cancel-pic").click(function () {
        $("#imgInp").val('');
        $(".dup-pic").css("display","none");

        console.log("hi");

    });


</script>
