

<!--   <li><%= link_to('   Logout', destroy_user_session_path, method: :delete  )%></li>
  
<li> <%= link_to "Users", users_path %> 
 -->
<main>


<aside>
<div class="sidepanel">
  
</div>
</aside>

<section>


  <div class="createPost">

  <%= form_for @post,remote: true do |form| %>

     
    
     <p class="emoji-picker-container">

     <%= form.text_area :content ,placeholder: "Hey,What's up",data: { emojiable: true }%>
     </p> 
     <span>Post as Anonymous </span><%= form.check_box :anonymous %>


     <div style="margin-left: 80%;">
         <%= form.submit %>
      </div>
  <% end %>

</div>




 

  
<div id="posts">
  <% @feed.each do |post| %>
  
  
  
  
    <%= render 'post', post: post %>
      
     
 



    
    


  <% end %>
    
    </div>

  
<br>
<div id='load_more'>
<%= render 'load_more', offset: 10 %>
</div>


</section>
<!-- <ads>
<div class="adspanel"></div>
  
</ads>
<chatbox>

</chatbox> -->

</main>

<script type="text/javascript">
	$.ajax({url: '/ajax',
		data: {
			text: "text"
		}
, success: function(data){
	console.log(data);
	console.log("request completed");
},
error: function(){
		console.log(arguments);

	console.log("some error");
}

});
</script>
