
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>SocioGrams</title>

</head>


<main-page>
   <aside>
      <div class="sidepanel">
         <%= render 'sidepanel' %>
      </div>
   </aside>

   <section class="">
      <div class="createPost">
         <%= render 'posts/post_form' %>
      </div>

      <div id="posts">

         <%= render @posts %>

         <%= will_paginate @posts %>
      </div>

      <br>

   </section>

   <ads>



      <div class="ui half page test ad">
            <%= render 'newsfeed/right_side_panel' %>
      </div>

   </ads>

   <chatbox>
   </chatbox>

</main-page>

<script>

    $('.ui.dropdown')
        .dropdown()
    ;

    //    $.ajax({url: '/ajax',
    //        data: {
    //            mode: sessionStorage.getItem('mode')
    //        }
    //        , success: function(data){
    //            console.log(data);
    //            console.log("request completed");
    //
    //        },
    //        error: function(){
    //            console.log(arguments);
    //            console.log("some error");
    //        }
    //    });


    //image preview before upload
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
            $(".dup-pic").css("display","block");
            $('#post_anonymous').attr('checked', false); // Unchecks it
            $("#post_anonymous").attr("disabled", true);

        }
    }


    $("#imgInp").change(function(){
        readURL(this);
    });
    //End-image preview before upload

    $(".cancel-pic").click(function () {
        $("#imgInp").val('');
        $(".dup-pic").css("display","none");
        $("#post_anonymous").attr("disabled", false);
        console.log("hi");

    });

</script>
