

  <li><%= link_to('   Logout', destroy_user_session_path, method: :delete  )%></li>
  
<li> <%= link_to "Users", users_path %> 

<main>


<aside>
</aside>

<section>


  <div class="createPost">

  <%= form_for @post,remote: true do |form| %>

     <%= form.text_area :content %>
     <div class="actions">
         <%= form.submit %>
      </div>
  <% end %>





  <h2>Newsfeed</h2>

  

  <% @feed.each do |post| %>
  
  
  <div id="posts">
  <h3>Post</h3>
    <%= render 'post', post: post %>
      
     
 </div>
</div>



    
    <h3>Comments</h3>


    <% @comments.where(post_id: post.id).each do |comment| %>
      
      <div id="comments"
      <%= render 'comment', comment: comment %>
    </div>

    <% end %>
  

  <% end %>
    
    

  
<br>
<div id='load_more'>
<%= render 'load_more', offset: 10 %>
</div>


</section>

</main>

<script type="text/javascript">
	$.ajax({url: '/ajax',
		data: {
			text: "text"
		}
, success: function(data){
	console.log(data);
	console.log("request completed");
},
error: function(){
		console.log(arguments);

	console.log("some error");
}

});
</script>
