
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!--   <li><%= link_to('   Logout', destroy_user_session_path, method: :delete  )%></li>

<li> <%= link_to "Users", users_path %>
 -->

<main>


<aside>
<div class="sidepanel">

</div>
</aside>

<section>


<div class="createPost">

  <div class="imagesection">

      <%= image_tag current_user.avatar.url(:medium),:class =>"createpost_image" %>

  </div>



      <div class="input-post">


  <%= form_for @post,remote: true do |form| %>
     <div class="emoji-picker-container">
        <%= form.text_area :content ,placeholder: "Hey,What's up",data: { emojiable: true }%>
     </div>

     <div class="postbox-toolbar">

       <div id="upload-pic-dummy" >

         <div class="upload-pic">
          <%= form.file_field :avatar %>
        </div>

         <button><img src="https://png.icons8.com/image-file/dusk/64" title="Image File" width="40" height="35"></i></button>

       </div>
       <div class="anonymous">
     <h3>Anonymous
     <%= form.check_box :anonymous %>
     </h3>
 </div>


         <%= form.submit 'Post', :class => 'postbutton'   %>
      </div>
  <% end %>

</div>
</div>


<div id="posts">
  <% @feed.each do |post| %>
    <%= render 'post', post: post %>
    <% end %>
</div>


<br>


<div id='load_more'>
<%= render 'load_more', offset: 10 %>
</div>


</section>
<ads>
<div class="adspanel"></div>

</ads>
<chatbox>

</chatbox>

</main>

<script type="text/javascript">
	$.ajax({url: '/ajax',
		data: {
			text: "text"
		}
, success: function(data){
	console.log(data);
	console.log("request completed");
},
error: function(){
		console.log(arguments);

	console.log("some error");
}

});

</script>
