
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<!--   <li><%= link_to('   Logout', destroy_user_session_path, method: :delete  )%></li>

<li> <%= link_to "Users", users_path %>
-->

<main>
  <aside>
    <div class="sidepanel">
    </div>
  </aside>

  <section>
    <div class="createPost">

        <%= image_tag current_user.avatar.url(:medium),:class =>"createpost_image" %>

      <div class="input-post">
        <%= form_for @post,remote: true do |form| %>
            <div class="emoji-picker-container">
              <%= form.text_area :content ,class: "emoji-wysiwyg-editor",placeholder: "Hey,What's up",data: { emojiable: true }%>


            </div>
            <div class="postbox-toolbar">
              <div id="upload-pic-dummy"   >
                <div class="upload-pic">
                  <%= form.file_field :avatar ,id: "imgInp" %><br>
                </div>
                <i class="fa fa-picture-o  fa-2x" aria-hidden="true"></i>
              </div>
              <div class="anonymous">
                <h3>Anonymous
                  <%= form.check_box :anonymous %>
                </h3>
              </div>
              <%= form.submit 'Post', :class => 'postbutton'   %>
            </div>
            <div style="display: none;">
              <img id="blah" src="#" alt="" style="width:180px;height: 150px;">
            </div>
        <% end %>
      </div>
    </div>

    <div id="posts">
      <% @feed.each do |post| %>
          <%= render 'post', post: post %>
      <% end %>
    </div>
    <br>
    <div id='load_more'>
      <%= render 'load_more', offset: 10 %>
    </div>

  </section>

  <ads>
    <div class="adspanel"></div>
  </ads>

  <chatbox>
  </chatbox>

</main>

<script type="text/javascript">
    $.ajax({url: '/ajax',
        data: {
            text: "text"
        }
        , success: function(data){
            console.log(data);
            console.log("request completed");
        },
        error: function(){
            console.log(arguments);

            console.log("some error");
        }
    });



    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);

        }
    }

    $("#imgInp").change(function(){
        readURL(this);
    });

    $(document).ready(function() {
        $("#emojionearea1").emojioneArea({

            pickerPosition: "right",
            tonesStyle: "bullet",
            events: {
                keyup: function (editor, event) {
                    console.log(editor.html());
                    console.log(this.getText());
                }
            }
        });
    });


</script>
