

<div class="users-page">

    <div class="users">

        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
        <table>
            <tr class="header">
                <th style="width:60%;"></th>
                <th style="width:40%;"></th>
            </tr>
        </table>

        <table id="myTable">
            <% @users.each do |user| %>

                <tr>
                    <td>
                        <% if user.avatar? %>
                        <%= image_tag user.avatar.url(:medium),:class =>"profile_image" %>
                        <%end  %>
                    </td>
                    <td> <%= link_to user.try(:name), url_for(controller:'newsfeed',action: 'profile',method: "get",user_id:user.id)%>
                    </td>

                    <td><%= user.email %></td>
                    <td> <%= user.try(:department) %></td>
                    <td> <% if current_user.can_follow user.id %>
                            <%= link_to "Follow", url_for(controller: :newsfeed, action: :follow, followee_id: user.id), method: :post %>
                        <% end %>

                        <% if current_user.can_delete_request user.id %>
                            <%= link_to "request sent", url_for(controller: :newsfeed, action: :delete_request, followee_id: user.id), method: :post %>
                        <% end %>


                        <% if current_user.can_un_follow user.id %>
                            <%= link_to "unfollow", url_for(controller: :newsfeed, action: :un_follow, followee_id: user.id), method: :post %>
                        <% end %>
                    </td>

                </tr>


            <% end %>
        </table>
    </div>

</div>


<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>