
<div style="width: 69%;margin-left: 19%;z-index: 0;margin-top: 100px;">
   <%= form_tag users_path, :method => 'get', :id => "products_search" do %>
       <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
       </p>
   <% end %>
   <div id="users">
      <%= render 'users' %>
   </div>
   <%= will_paginate @users %>
</div>
