<%=form_for @reply,remote: true do |form| %>
    <% if reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :reply_content %>
  </div>
    <h3 class="cancel_edit">cancel</h3>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
    $( ".cancel_edit" ).click(function() {
        console.log($("#reply_orig_content_<%= @reply.id %>").css("display","block"));
        console.log($( this ).parent()[0]);
        console.log($( this ).parent().remove());
    });
</script>