
<div class="ui  comments" id="comment_<%=comment.id%>">
   <div class="comments-content">
      <% user = comment.user %>

      <div class="comment">
         <a class="avatar">
            <%= image_tag user.avatar.url(:medium),:class =>"profile_image",:alt=>"" %>
         </a>
         <div class="content">
            <a class="author">
               <%= render 'profile/profile_link' ,user: user %>
            </a>
            <div class="metadata">
              <span class="date"><%= comment.created_at.localtime.strftime("%d %b %I:%M%p") %></span>

               <div class="ui dropdown">
                  <i class="dropdown icon"></i>
                  <div class="menu">
                     <div class="item">
                        <% if comment.can_delete current_user %>
                            <%= link_to 'Delete', comment, method: :delete, remote:true, data: { confirm: 'Are you sure?' } %>
                        <% end %>
                     </div>
                     <div class="item">
                        <% if comment.can_update current_user %>
                            <%= link_to 'Edit', edit_comment_path(comment),remote:true %>
                        <% end %>
                     </div>

                  </div>
               </div>



            </div>

            <div id="comment_form_<%= comment.id  %>">
            </div>
            <div id="comment_orig_content_<%= comment.id  %>">
               <%= markdown(comment.content) %>

               <a class="reply">View Replies</a>
               <div style="display: none">
                  <%= render 'replies/reply_form', comment: comment %>

                  <div id="replies_<%=comment.id%>" class="replies" >

                     <%  comment.replies.each do |reply| %>
                         <%= render 'replies/reply', reply: reply %>
                     <% end %>

                  </div>
               </div>

            </div>
         </div>

      </div>

   </div>
   <hr style="opacity:0.3;">
</div>

<script>
    $('.ui.dropdown')
        .dropdown()
    ;

    var acc = document.getElementsByClassName("reply");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){

            var comment_panel=this.nextElementSibling

//            console.log(div.nextElementSibling);
            if (comment_panel.style.display === "block") {
                comment_panel.style.display = "none";
            } else {
                comment_panel.style.display = "block";
            }
        }
    }
</script>