<%=form_for @comment,remote: true do |form| %>
    <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :comment_content %>
  </div>
    <h3 class="cancel_edit">cancel</h3>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script>
    $( ".cancel_edit" ).click(function() {
        console.log($("#comment_orig_content_<%= @comment.id %>").css("display","block"));
        console.log($( this ).parent()[0]);
        console.log($( this ).parent().remove());
    });
</script>