<!-- <div style="width:100%;background-image:url("http://english.manoramaonline.com/content/dam/mm/en/entertainment/music/images/2017/7/18/black-n-white-song.jpg");height:400px;">

</div>
<div style="width:100%;background-color:blue;height:400px;">

</div> -->


<div class="sign_in_form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="email">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="password">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="remember_me">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="Log_in_button">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
