
<!--
<div id="bar">
</div> -->

<div id="header-front">

  <div class="front-page-logo">
    <h3 style="text-align:center;margin-top:65px;font-size:53px;font-family: 'Jura', sans-serif;">Socio_Grams</h3>

    <p id='typed-sample'>Hi hi hi..</p>

  </div>

  <div id="sign-in-form-section">
    <div class="sign-in-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <p style="margin-bottom:10px;padding-top:10px;font-size:25px;font-family: 'Open Sans', sans-serif;color:#1">Sign-In</p>

          <%= f.email_field :email, autofocus: true ,placeholder:"Email-address"%>
          <%= f.password_field :password, autocomplete: "off",placeholder:"Password" %>

          <br>
          <% if devise_mapping.rememberable? -%>

              <%= f.check_box :remember_me %>
              <%= f.label :remember_me,class:"remember_me" %>

          <% end -%>
          <br>


          <%= f.submit "Log in" ,class:"login-button"%><br>
          <%= render "users/shared/links" %>
      <% end %>

    </div>
  </div>
  <div class="slogans">

  </div>
</div>





<!-- <div id="content">


  <div id="gal">
    <div id="boxes">
      <img src="It-is-better-to-live-one-day-as-a-lion-than-a-thousand-days-as-a-lamb..jpg" height="" width="">
    </div>
    <div id="boxes">
      <img src="rock-bottom.jpg" height="" width="">
    </div>
    <div id="boxes">
      <img src="112406-Good-Morning-And-Have-A-Revolutionary-Day.jpg" height="" width="">
    </div>
  </div>
</div>
<div id="f0ooter">
</div> -->




<style type="text/css">
  #header-front {

    display: flex;
    justify-content: space-between;
    background-color:#28a49d;
    /*#469e7b;*/

    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    margin-bottom: 20px;

    /*margin-top: 50px;*/
  }
  .front-page-logo {
    width: 40%;
    font-size: 25px;
    color:black;

    /*background-color: red;*/
  }
  h3{
    color: black;
  }
  .typed-cursor{
    display: none;
  }
  #typed-sample{
    text-align: center;
    color: wheat;
  }
  #sign-in-form-section {
    width: 26%;
    opacity: 1;

    /*background-color: blue;*/
  }
  .slogans{
    width: 34%;
    /*background-color: red;*/
  }
  .sign-in-form{
    border-radius: 10px;
    border-bottom:2px solid blanchedalmond;
    padding-left: 20px;
    margin-top: 50px;
    background-color: none;
    width: 90%;
    height: 420px;
  }
  #user_email{
    font-family: 'Jura', sans-serif;
    margin-top: 0px;
    height: 20px;
    width: 88%;
    margin-bottom: 15px;
    border: solid 2px #354045;
    font-size: 15px;
    padding: 10px;
    border-radius: 2px;
  }
  #user_password{
    font-family: 'Jura', sans-serif;
    height: 20px;
    width: 88%;
    margin-bottom: 15px;
    border: solid 2px #354045;
    font-size: 15px;
    padding: 10px;
    border-radius: 2px;
  }
  .login-button{
    font-family: 'Jura', sans-serif;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 25px;
    padding: 5px;
    border-radius: 2px;
    background-color:#141224;
    color: wheat;
    text-decoration:none;
    text-align:center;
    border:solid 2px #354045;
  }
  .remember_me{
    font-family: 'Jura', sans-serif;
    font-size: 20px;
  }

  #bar{
    position:fixed;
    top:0;
    z-index:1;
    width:100%;
    height:50px;

    background: black; /* Old browsers */

  }



  .button{


    border:solid 2px #657982;
    border-radius: 4px;


  }



  #content{
    margin:0 auto;
    max-width:1200px;
    height:1000px;
  }


  #headcont{
    font-weight:bold;
    padding:15px;
    font-size:20px;
  }
  quote{
    font-size:25px;
    font-weight:bold;
  }
  quote:hover{
    color:#CB202D;
  }
  #boxes{
    margin-top:10px;
    float:left;
    background-color:white;
    margin-left:33px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    border-radius:2px;
    border:0.01px solid grey;
  }
  #boxes img{
    padding:20px;
    width:250px;
  }
  #boxes:first-child{
    margin-left:0px;
  }
  .link-sign-up,.link-forgot-password,.link-confirmation-ins{

    text-decoration:none;
    color:black;
    font-weight:bold;
    font-size:21px;
  }
  .link-forgot-password{
    font-size: 18px;
    font-family: 'Handlee', cursive;

  }
  .link-confirmation-ins{
    font-size: 16px;
    font-family: 'Handlee';
  }
  .link-sign-up{
    font-family: 'Jura', sans-serif;
    color: #812323;
  }
  #forgot:hover{
    color:#CB202D;
  }
  @media screen and (max-width: 1250px) {
    #boxes img{
      width:200px;
    }
  }

  @media screen and (max-width: 1170px) {

    #left-box1{
      height:150px;
      width:95%;
      margin-left:30px;
    }
    #left-box1:after{
      clear:both;
    }
    #left-box1 img{
      height:75px;
      width:150px;
    }
    #right-box1{
      width:100%;
      position:relative;
      top:20px;
      left:30px;
      height:200px;
      margin:0 auto;

    }
    quote{
      font-size:15px;
    }
    #gal{
      position:relative;
      top:20px;
      left:15px;
      width:95%;
      margin:0 auto;
    }
  }
</style>
