<style>
   body{
      margin:0px;
      padding:0px;
      font-family: 'Source Sans Pro', sans-serif;
      background: url("https://s3.us-east-2.amazonaws.com/sociograms-files/final1-443858d2913663b7082f46f76a364579bdce910273c5675a81783142421856df.png");
   }
</style>

<div id="signup-page" class="animated ">

   <div class="signinPageLeft">
      <h3 class=''>Socio_Grams</h3>
   </div>
    <div id="sign-in-form-section">
        <%= devise_error_messages! %>
        <div class="sign-in-form "  >
           <p class="form-topic"><i class="fa fa-sign-in" aria-hidden="true"></i>
              Forgot your password?</p><hr style="color: #721615"><br>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= devise_error_messages! %>

                <div class="field">

                    <%= f.email_field :email, autofocus: true, placeholder: "E-mail",class:"user_email_field"  %>
                </div>

                <div class="actions">
                    <%= f.submit "Send me reset password instructions" ,:class=>"login-button",:style=>"font-size:16px;"%>
                </div>
            <% end %>
            <p style="text-align:center;margin-bottom:10px;">OR</p>
            <hr>
            <%= render "users/shared/links" %>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>

        </div>
    </div>

</div>

