<%= image_tag current_user.avatar.url(:thumb),:class =>"createpost_image" ,:alt=>""%>
<div class="input-post">
   <%= form_for @post,remote: true do |form| %>
       <div class="">
          <div class="ui form">
             <div class="field">
                <textarea rows="2" name="post[content]" id="post_content" placeholder="Hey,Let Your friends know that you're alive."></textarea>
             </div>
          </div>
       </div>

       <div class="dup-pic" style="display: none;padding-top: 10px">
          <img id="blah" src=""  style="border-radius: 10px;width: 150px;height: auto;">
          <div style="position: relative;top: -127px;display: inline;left: -25px;">
             <i class="fa fa-times cancel-pic" aria-hidden="true"></i>
          </div>
       </div>

       <div class="postbox-toolbar">
          <div id="upload-pic-dummy">
             <div class="upload-pic">
                <%= form.file_field :avatar ,id: "imgInp" %><br>
             </div>
             <i class="fa fa-picture-o  fa-2x image-icon" aria-hidden="true"></i>
          </div>

          <div class="anonymous">
             <h3 >Anonymous
                <%= form.check_box :anonymous %>
                <%= form.hidden_field :flavour , value: "feed"  %>
                <!--<%=form.hidden_field :flavour ,:id=>"email_field" %>-->

             </h3>
          </div>
          <span id="characters"></span>

          <%= button_tag 'Post', :class => 'postbutton', id: 'create_post_submit', data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>  Wait"}  %>

       </div>

   <% end %>

</div>
