<div style="other_info">
   <div class="flwlst">

      <% if @user.id == current_user.id %>
          <div id="flw">
             <% count_flrs = @user.followers(@user.id,current_user.current_mode).count %>
             <%= link_to "Followers #{count_flrs}", profile_followers_path%>
          </div>
          <div id="flwe">
             <% count_flwng = @user.followee(@user.id,current_user.current_mode).count %>
             <%= link_to "Following #{count_flwng}", profile_following_path%>
          </div>

      <% else %>

          <div id="flw">
             <b>Followers</b>
             <%= @user.followers(@user.id,current_user.current_mode).count %>
          </div>
          <div id="flwe"><b>Following</b>
             <%= @user.followee(@user.id,current_user.current_mode).count %>
          </div>
      <% end %>

   </div>



   <hr style="opacity: 0.3">
   <div class="pp-email">
      <%=@user.email%>
   </div>
   <div class="pp-email" >
      <%=@user.about if @user.about%>
   </div>
   <div class="pp-email" >
      <%=@user.department if @user.department%>
   </div>
</div>