
      <%= form_for(@user, as: @user, url: registration_path(@user), html: { method: :put }) do |f| %>


          <div class="field">
             <%= f.file_field :avatar   %>
          </div>

          <% if current_user.avatar? %>
              <%= f.cropbox :avatar, :width => 500 %>
              <%= f.crop_preview :avatar, :width => 150 %>
          <% end %>


          <div class="actions">
             <%= f.submit "Update", :class => "login-button" %>
          </div>
      <% end %>


   </div>
</div>


