
<div id="wrapper">
   <div id="mid-box">
      <div id="dp-box">
         <%= image_tag @user.avatar.url(:medium),:class =>"pro-image modal-activate" %>
         <div class="pp-info">
            <div class="pp-name">
               <p><%=@user.name%></p>
            </div>
            <div class="pp-follow">
               <p>@<%=@user.username%></p>
               <% if @user.id==current_user.id %>
                   <%=link_to "Edit Profile",edit_user_registration_path, :class=>'button'%>
               <% else  %>
                   <%= render 'newsfeed/follow_link', user: @user %>
               <%end  %>
            </div>

            <div id="web_view_info">
               <%= render 'other_info' %>
            </div>
            <% if @user.id == current_user.id %>
                <%= social_share_button_tag("Follow me on Sociograms", desc: ("Follow me on Sociograms"),:allow_sites => %w(twitter facebook linkedin)) %>

         <% end %>


         </div>

      </div>
      <div id="mob_view_info">
         <%= render 'other_info' %>
         <!--#galat baat h ye extra req to db-->
      </div>

      <hr style="opacity: 0.3">
      <div class="profile-posts">

         <div class="pp-sidepanel">

         </div>

         <div class="pp-posts">
            <div id="posts">
               <% if @posts.nil? %>
                   <%= 'Because every account is private :)' %>
               <% else %>
                   <%= render @posts %>

                   <%= will_paginate @posts  %>
               <% end %>

            </div>
         </div>
      </div>


   </div>



</div>

