
<div id="wrapper">
   <div id="mid-box">
      <div id="dp-box">
         <div class="image-portion">
            <%= image_tag @user.avatar.url(:original),:class =>"pro-image modal-activate" %>
            <% if @user == current_user %>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <div id="upload-pic-dummy">
                       <div class="upload-pic">
                          <%= f.file_field :avatar ,id: "imgInp" %><br>
                       </div>
                       <span class="choose-file"> Change</span>
                    </div>
                    <div class="actions" id="update_dp_but" style="display: none">
                       <%= f.submit "Update" %>
                    </div>


                <% end %>
            <% end %>
         </div>
         <div class="pp-info">
            <div class="pp-name">
               <p><%=@user.name%></p>
            </div>
            <div class="pp-follow">
               <p>@<%=@user.username%></p>
               <% if @user.id==current_user.id %>
                   <%=link_to "Edit Profile",edit_user_registration_path, :class=>'button'%>
               <% else  %>
                   <%= render 'newsfeed/follow_link', user: @user %>
               <%end  %>
            </div>

            <div id="web_view_info">
               <%= render 'other_info' %>
            </div>
            <% if @user.id == current_user.id %>
                <%= social_share_button_tag("Follow me on Sociograms", desc: ("Follow me on Sociograms"),:allow_sites => %w(twitter facebook linkedin)) %>

            <% end %>


         </div>

      </div>
      <div id="mob_view_info">
         <%= render 'other_info' %>
         <!--#galat baat h ye extra req to db-->
      </div>

      <hr style="opacity: 0.3">
      <div class="profile-posts">

         <div class="pp-sidepanel">

         </div>

         <div class="pp-posts">
            <div id="posts">
               <% if @posts.nil? %>
                   <%= 'Because every account is private :)' %>
               <% else %>
                   <%= render @posts %>

                   <%= will_paginate @posts  %>
               <% end %>

            </div>
         </div>
      </div>


   </div>



</div>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.pro-image').attr('src', e.target.result);
                $('#update_dp_but').css('display', 'block'); // Unchecks it
            }
            reader.readAsDataURL(input.files[0]);
            $(".dup-pic").css("display","block");
            $('#post_anonymous').attr('checked', false); // Unchecks it
            $("#post_anonymous").attr("disabled", true);

        }
    }
    $("#imgInp").change(function(){
        readURL(this);
    });

</script>