<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
   <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Poiret+One|Quicksand:500|Source+Code+Pro:400,600" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Nixie+One" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Harmattan" rel="stylesheet">

   <script src="/assets/newsfeed.self-123ea457a2d9c6785870df387ef20c8a5eafd38d6557755a08cc69517cd00658.js?body=1" defer></script>

   <%= csrf_meta_tags %>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


   <% if Rails.env.production? %>
       <script type="text/javascript">
           (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
               (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
           })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
           ga('create', 'UA-111696040-1', 'auto');
       </script>
   <% end %>


   <style>
      .tooltip_templates { display: none; }
      body{
         font-family: 'Quicksand', sans-serif;

      }
   </style>

</head>

<body>
<% if notice %>
    <script type="text/javascript">
        noty({text: '<%= notice %>',
            type: 'alert',
            theme: 'metroui',
            layout: 'topCenter',
            timeout: 1000,
            animation: {
                open : 'animated fadeInRight',
                close: 'animated fadeOutRight'
            }
        });
    </script>
<% end %>


<% if alert %>
    <script type="text/javascript">
        noty({
            text: '<%= alert %>',
            type: 'alert',
            theme: 'metroui',
            layout: 'topCenter',
            timeout: 1000,
            animation: {
                open : 'animated fadeInRight',
                close: 'animated fadeOutRight'
            }
        });
    </script>
<% end %>

<script>
    $('.ui.dropdown')
        .dropdown();

</script>

<script>

</script>

<div class="modal">
   <span class="close">&times;</span>

   <img class="content" src="">
</div>
<%= render 'newsfeed/header' %>


<%= yield %>


</body>

</html>

