<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <title>Sociograms</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if user_signed_in? %>
    <headerbar >
      <header>
        <div class="logo">
          <h1><%= link_to "SocioGrams",newsfeed_index_path%></h1>
        </div>
        <nav>
          <ul>
            <li>  <%= link_to "Notifications",notifications_show_path  %></li>
            <li> <%= link_to "Users", users_path %> </li>
            <li>  <%= link_to "Sign Out",destroy_user_session_path,method: :delete %></li>
          </ul>
        </nav>
      </header>
    </headerbar>
<% end %>

<p style="position: fixed;top:0;text-align: center;"><%= notice %></p>
<p style="position: fixed;top:0;text-align: center;"><%= alert %></p>

<%= yield %>

</body>
</html>
