<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

  <title>Sociograms</title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script type="text/javascript">
      $(document).ready(function(){
          $("home-link").click(function(){
              alert("The paragraph was clicked.");
          });
      });

      $(document).ready(function(){
          $("#alert").click(function(){
              $("#alert").hide();
          });

      });



  </script>

  <style>
    .tooltip_templates { display: none; }
  </style>

</head>

<body>
<% if user_signed_in? %>
    <headerbar >
      <header>

        <nav>
          <ul>
            <li>  <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li>
              <%= link_to notifications_show_path do%><i class="fa fa-bell" aria-hidden="true"></i>
                  Notifications<% end %>
            </li>
            <li>  <%= link_to users_path do %><i class="fa fa-user" aria-hidden="true"></i> Users<%end%></li>

          </ul>
        </nav>

        <div class="logo">
          <%= link_to "SocioGrams",newsfeed_index_path,:class=>"animated rollIn"%>
        </div>

        <div style="position: absolute;left: 68%;width: 18%">
        <input type="text" class="searchTerm" placeholder="What are you looking for?">

        </div>

      </header>
    </headerbar>
<% end %>

    <div id="notice" >
      <%= notice %>
    </div>

    <div id="alert">
      <%= alert %>
    </div>

<%= yield %>

</body>
</html>
