
<div class="edit-profile-page">

   <br>


   <div style="" class="edit-profile">
      <!--<h3 style="text-align: center">Edit Your Profile</h3>-->
      <%= form_for(@user, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <div class="ui grid">

             <div class="four wide column first_row">
                <div class="ui vertical fluid tabular menu first_row_menu">
                   <a class="item active a">
                      Basic Info
                   </a>
                   <a class="item b">
                      Password
                   </a>
                   <a class="item c">
                      Education
                   </a>
                   <a class="item d">
                      Address
                   </a>
                   <a class="item e">
                      Delete Account
                   </a>

                </div>

             </div>



             <div class="eight wide stretched column content">

                <div class="ui segment ca">
                   <%= render 'users/shared/goback' %>

                   <div class="ui form">
                      <div class="field" style="">
                         <label>Profile Picture</label>
                         <%= f.file_field :avatar   %>
                      </div>

                      <div class="field">
                         <label>Username</label>
                         <%= f.text_field :username%>
                      </div>

                      <div class="field">
                         <label>Name</label>
                         <%= f.text_field :name%>
                      </div>

                      <%= f.radio_button(:sex,"male") %><i class="fa fa-male" aria-hidden="true" style="font-size: 42px;width: 40%;padding-left: 10px;padding-bottom: 10px;color: #7d2d76"></i>
                      <%= f.radio_button(:sex,"female") %><i class="fa fa-female" aria-hidden="true" style="font-size: 42px;width: 40%;padding-left: 14px;color: #7d2d76"></i>

                      <div class="field">
                         <label>About Yourself</label>
                         <%= f.text_field :about%>
                      </div>

                      <div class="field">
                         <label>RelationShip Status</label>
                         <div class="ui selection dropdown">
                            <input type="hidden" name="user[relationstatus]" value="<%= f.object.relationstatus %>">
                            <i class="dropdown icon"></i>
                            <div class="default text"><%= f.object.relationstatus %></div>
                            <div class="menu">
                               <div class="item" data-value="single">SAKHT (Single)</div>
                               <div class="item" data-value="taken">Taken</div>
                               <div class="item" data-value="foreveralone">Forever Alone</div>
                            </div>
                         </div>
                      </div>

                      <%= render "users/shared/button" %>
                   </div>
                </div>
                <div class="ui segment cb">
                   <div class="ui form">
                      <%= render 'users/shared/goback' %>

                      <div class="field">
                         <label>Old Password</label>
                         <i>(we need your current password to confirm your changes)</i><br />
                         <%= f.password_field :current_password, autocomplete: "off",placeholder: "Current password" %>
                      </div>
                      <div class="field">
                         <label>New Password</label>
                         <%= f.password_field :password, autocomplete: "off" ,placeholder: "Password(leave blank if you don't want to change)</i>"%>
                      </div>
                      <div class="field">
                         <label>Confirm New Password</label>
                         <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "6 characters minimum" %>
                      </div>
                      <%= render "users/shared/button" %>

                   </div>
                </div>
                <div class="ui segment cc">
                   <div class="ui form">
                      <%= render 'users/shared/goback' %>

                      <!--<div class="field">-->
                      <!--<label>College Name</label>-->
                      <!--<input type="text" name="" placeholder="Enter Your College Name">-->
                      <!--</div>-->
                      <label>Department</label><br><br>
                      <div class="ui selection dropdown">
                         <input type="hidden" name="user[department]" value="<%= f.object.department %>">
                         <i class="dropdown icon"></i>
                         <div class="default text"><%= f.object.department %></div>
                         <div class="menu">
                            <div class="item" data-value="CSE">CSE</div>
                            <div class="item" data-value="IT">IT</div>
                            <div class="item" data-value="ME">ME</div>
                            <div class="item" data-value="CE">CE</div>
                            <div class="item" data-value="ECE">ECE</div>
                            <div class="item" data-value="EN">EN</div>
                            <div class="item" data-value="EI">EI</div>




                         </div>
                      </div>

                      <%= render "users/shared/button" %>

                   </div>
                </div>
                <div class="ui segment cd">
                   <%= render 'users/shared/goback' %>

                   <div class="ui form">
                      <!--<div class="field">-->
                      <!--<label>Current Address</label>-->
                      <!--<input type="text" name="" placeholder="Enter Current Address">-->
                      <!--</div>-->
                      <!--<div class="field">-->
                      <!--<label>Hometown</label>-->
                      <!--<input type="text" name="" placeholder="Enter Hometown">-->
                      <!--</div>-->
                      <!--<button class="ui button" style="background:#7e2444;color:white">-->
                      <!--Submit-->
                      <!--</button>-->
                      Coming Soon!
                   </div>
                </div>


                <div class="field" style="display: none">
                   <%= f.file_field :avatar   %>
                </div>


                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
      <% end %>

      <div class="ui segment ce">
         <%= render 'users/shared/goback' %>

         <div class="ui form">
            <div class="field">
               <label>Delete your account permanently</label>

               <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ,:class => "ui button",:style=>"color: white;
                   font-size: 16px;
                   background-color: #7d2d76;
                   border: 1px solid;
                   border-radius: 4px;
                   font-family: 'Poiret One',sans-serif;" %>

            </div>
         </div>
      </div>
      </div>





      </div>
   </div>


   <script>

       $(document).on('load', function() {
           $(".loader").fadeOut(2000);
       });

   </script>



   <style type="text/css">
      body{
         font-family: 'Quicksand', sans-serif;
         letter-spacing: 1px;
      }
      .item{
         font-family: 'Quicksand', sans-serif;

      }
      .ui.vertical.tabular.menu .active.item {
         background: none #7d2d76;
         color: rgb(255, 255, 255);
         border-color: #D4D4D5;
         margin: 0px -1px 0px 0px;
         border-radius: 0.28571429rem 0px 0px 0.28571429rem !important;
      }



   </style>


   <script>
       function myFunction(x) {
           if (x.matches) { // If media query matches

           } else {

               var first_row = $('.first_row');
               var first_row_menu = $('.first_row_menu');

               var i = first_row.removeClass('four wide column')
               var i = first_row_menu.removeClass('vertical tabular ').css('margin', '0');

               $('.content').removeClass('eight wide column').css('width', '100%');
               $('.item').click(function(){
                   $('.first_row').hide();
               });
               $('.go_back').click(function(){
                   $('.ui .segment').hide();
                   $('.first_row').show();
               });
               $('.fa-search').hide();
               $('.go_back_button').show();
               $(".descrip123").html('Edit Profile');

           }
       }

       var x = window.matchMedia("(min-width: 700px)")
       myFunction(x) // Call listener function at run time
       x.addListener(myFunction) // Attach listener function on state changes


       $('document').ready(function(){
           $('.me').hide();
       });
   </script>
   <script>
       $('.ui .item').on('click', function() {
           $('.ui .item').removeClass('active');
           $(this).addClass('active');
           $('.custom').removeClass('active');
       });
   </script>
   <script>

       // showing the individual elememnts
       $('document').ready(function(){
           $('.ui .segment').hide();
           $('.ca').hide();
       });


       $('.a').click(function(){
           $('.ui .segment').hide();
           $('.ca').show();
           $('.go_back_text').html("Basic Info");

       });
       //end of it

       // showing the individual elememnts
       $('.b').click(function(){
           $('.ui .segment').hide();
           $('.cb').show();
           $('.go_back_text').html("Password");
       });
       //end of it

       // showing the individual elememnts
       $('.c').click(function(){
           $('.ui .segment').hide();
           $('.cc').show();
           $('.go_back_text').html("Education");

       });
       //end of it

       // showing the individual elememnts
       $('.d').click(function(){
           $('.ui .segment').hide();
           $('.cd').show();
           $('.go_back_text').html("Address");

       });
       //end of it

       // showing the individual elememnts
       $('.e').click(function(){
           $('.ui .segment').hide();
           $('.ce').show();
           $('.go_back_text').html("Account");

       });
       //end of it
   </script>
   <script>
       //check checkbox
       $('.ui.radio.checkbox').checkbox();
   </script>
   <script>
       //Dropdown
       $('.ui.dropdown')
           .dropdown();
   </script>
   <script>
       $('.ui.checkbox').checkbox();
   </script>

