<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>



  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
    <%= f.label :College %><br /><select name="city_id" id="city_id">
  <option value="1">Krishna institute of engineering and technology</option>
  <option value="2">Abes Institute of Technology </option>
  <option value="12">HRIT</option>
  <option value="Aalto University">Aalto University</option>
  <option value="Abes Engineering college, Ghaziabad">Abes Engineering college, Ghaziabad</option>
  <option value="ABES IT Group of Institutions, Ghaziabad">ABES IT Group of Institutions, Ghaziabad</option>
  <option value="ABV - Indian Institute of Information Technology and Management Gwalior">ABV - Indian Institute of Information Technology and Management Gwalior</option><option value="Academy of Technology, West Bengal">Academy of Technology, West Bengal</option><option value="Acropolis Institute of Technology &amp; Research, Indore">Acropolis Institute of Technology &amp; Research, Indore</option><option value="ADA University">ADA University</option><option value="Adobe Systems">Adobe Systems</option>
  <option value="AE high school">AE high school</option>
  <option value="Affiliated High School of Fujian Normal University">Affiliated High School of Fujian Normal University</option>
  <option value="AGH University of Science and Technology">AGH University of Science and Technology</option>
  <option value="Ahsanullah University of Science and Technology">Ahsanullah University of Science and Technology</option>
  <option value="Ain-shams university">Ain-shams university</option>
  <option value="Ains shams universty">Ains shams universty</option>
  <option value="Ajay Kumar Garg Engineering College, Ghaziabad">Ajay Kumar Garg Engineering College, Ghaziabad</option>
  <option value="Ajou University">Ajou University</option>
  <option value="Aktobe Kazakh -Turkish High School Aktobe Kazakhstan">Aktobe Kazakh -Turkish High School Aktobe Kazakhstan</option>
  <option value="Al Akhawayn University">Al Akhawayn University</option>
  <option value="Al Akhawayn University,  Ifrane">Al Akhawayn University,  Ifrane</option>
  <option value="Al-Baath University">Al-Baath University</option>
  <option value="Al-Zaytoonah University of Jordan">Al-Zaytoonah University of Jordan</option>
  <option value="Aleppo University">Aleppo University</option>
  <option value="Alexandru Ioan Cuza University">Alexandru Ioan Cuza University</option>
  <option value="Allame Helli">Allame Helli</option>
  <option value="Almaty Kazakh - Turkish High School Almaty Kazakhstan">Almaty Kazakh - Turkish High School Almaty Kazakhstan</option>
  <option value="AlternativaPlatform">AlternativaPlatform</option><option value="Ambala College of Engineering and Applied Research, Ambala">Ambala College of Engineering and Applied Research, Ambala</option><option value="Ambedkar Institute of Advanced Communication Technology &amp; Research">Ambedkar Institute of Advanced Communication Technology &amp; Research</option><option value="American International University Bangladesh">American International University Bangladesh</option>
  <option value="American University in Bulgaria">American University in Bulgaria</option>
  <option value="American University of Armenia">American University of Armenia</option>
  <option value="American University of Beirut">American University of Beirut</option>
  <option value="Amirkabir University of Technology">Amirkabir University of Technology</option>
  <option value="Amity School of Engineering and Technology">Amity School of Engineering and Technology</option>
  <option value="Amity University, Noida">Amity University, Noida</option>
  <option value="Amrita School of Engineering">Amrita School of Engineering</option>
  <option value="Amrita School of Engineering, Coimbatore">Amrita School of Engineering, Coimbatore</option>
  <option value="Amrita Vishwa Vidyapeetham">Amrita Vishwa Vidyapeetham</option>
  <option value="Amur State University">Amur State University</option>
  <option value="Anil Neerukonda Institute of Technology and Sciences">Anil Neerukonda Institute of Technology and Sciences</option>
  <option value="Appa Institute Of Engineering and Technology">Appa Institute Of Engineering and Technology</option>
  <option value="Arab Academy for Science and Technology">Arab Academy for Science and Technology</option>
  <option value="Army Institute of Technology, Pune">Army Institute of Technology, Pune</option>
  <option value="Army Public School, Dighi Pune">Army Public School, Dighi Pune</option>
</select>


  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Create Account" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
