<style>
    body{
        margin:0px;
        padding:0px;
        font-family: 'Source Sans Pro', sans-serif;
        background-size: 600% 600% !important;

        background-size:100% 94vh;

    }


</style>

<div id="signup-page" class="animated ">

    <div class="front-page-logo">
        <h3 style="">Socio_Grams</h3>
    </div>

    <div id="sign-in-form-section">
        <%= devise_error_messages! %>
        <div class="sign-in-form "  >
            <p class="form-topic"><i class="fa fa-user" aria-hidden="true"></i>
               Sign up</p><hr>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                <div class="field">
                    <%= f.text_field :name,placeholder: "Fullname",required: true %>
                </div>
                <div class="field">
                    <%= f.email_field :email, placeholder: "E-mail(e.g abc@xyz.edu)",required: true%>
                </div>
                <div class="field">
                    <%= f.password_field :password, autocomplete: "off" ,placeholder: "New Password(Min. 6 characters)"%>
                </div>

                <div class="field">
                    <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "Confirm-password" %>
                </div>

                <div class="actions">
                    <%= f.submit "Create Account" ,class:"login-button" %>
                </div>
            <% end %>
           <p style="text-align:center;margin-bottom:10px;color: black">OR</p>
           <hr>
            <%= render "users/shared/links" %>
        </div>
    </div>
    <div class="slogans">

    </div>

</div>
<div class="typed-slogan">
   <h3 id="typed-sample" style="color: #730E15"></h3>
</div>